body.home{
     background-image: url("Home@ENStudio.png");
	 color: white;
}

body.project{
	background-image: url("Project@ENStudio.png");
	color: white;
}

body.about{
	background-image: url("About@ENStudio.png");
	color: white;
}

body.contact{
	background-image: url("Contact@ENStudio.png");
	color: white;
}
	
a{
	color: white;
	text-decoration: none;
}

body.achievements{
	 background-image: url("Achievements@ENStudios.png");
	 color:white;
}

a:hover{
	color: white;
	background: brown;
}}

h1{
	font-family: monospace;
	font-size: 50pt;
	color: navy;
}

h2{
	font-family: serif;
	font-size: 20pt
}

.thin_border{
	 border: 1px solid black;
}

.crop-img{
  max-height:150px;
  max-width:100%;
  margin-bottom: 10px;
}

.large-img{
  max-width:100%;
  margin-top: 10px;
}

.chapter-thumbnail {
  margin-top: 10px; 
  white-space : pre;  
  overflow : hidden;  
  max-height: 150px; 
  height : 150px;  
  border-radius: 10px;
}

#mainViewer {
  margin-top: 10px;
  white-space : pre;   
}

