/*Webpage backgrounds*/
body.Video{
     background: url("Homepage@ENStudio.png");
     background-repeat: no-repeat;
     position: fixed;
}

body.project{
	 background-image: url("Project@ENStudio.png");
	 background-repeat: no-repeat;
	 position: fixed;
}

body.about{
	 background-image: url("About@ENStudio.png");
	 background-repeat: no-repeat;
	 position: fixed;
} 

body.achievements{
	 background-image: url("Achievement@ENStudio.png");
	 position: fixed;
	 background-repeat: no-repeat;
}

 a {
     text-decoration: none;
     color: black;
}

p{
	 font-family: Lucida, san-serif;
	 font-size: 20px;
	 color: white;
}

h1{
	 font-family: monospace;
	 font-size: 30pt;
	 color: red;
}

h2{
	 font-family: monospace;
	 font-size: 16pt;
	 color: white;
	 padding-top: 15px;
	 padding-left: 400px;
}

.thin_border{
	 border: 1px solid black;
}

.crop-img{
  max-height:150px;
  max-width:100%;
  margin-bottom: 15px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 25px;
}

.column{
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;
}

.column img {
  margin-top: 15px;
  vertical-align: middle;
  width: 100%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: red;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  ul {
	  flex: 50%;
	  max-width: 50%
  }
}
.button {
   background-color: black;
   border: none;
   color: white;
   padding: 20px 34px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 5px 2px;
   cursor: pointer;
 }

/* Flip image gallery style-type @codepen.io*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  height: 70%;
}
.gallery {
  list-style-type: none;
  height: 90%;
  margin-top: 50px;
  overflow: hidden;
}
.gallery li {
  float: left;
  height: 100%;
  width: 279px;
  background: white;
}
.gallery .flip {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
.gallery li:hover .front-side {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.gallery li:hover .back-side {
  background: white;
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.gallery .front-side,
.gallery .back-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility:  hidden;
  -moz-backface-visibility:  hidden;
  backface-visibility:  hidden;

  -webkit-transition: transform 0.10s ease-out, opacity 0.10s ease-out;
  -moz-transition: transform 0.10s ease-out, opacity 0.10s ease-out;
  transition: transform 0.10s ease-out, opacity 0.10s ease-out;
}
.gallery .front-side {
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.gallery .back-side {
  opacity: 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.gallery .back-side > a {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery li:nth-child(1) .front-side {
  background-image:url('CP.png');
}
.gallery li:nth-child(1) .loader {
  border-top-color: #000000;
  border-left-color: #000000;
}
.gallery li:nth-child(1) .text h3 {
  color: black;
}
.gallery li:nth-child(1) .text h3:after {
  background: black;
}

.gallery li:nth-child(2) .front-side {
  background-image: url('IT.png');
}
.gallery li:nth-child(2) .loader {
  border-top-color: #000000;
  border-left-color: #000000;
}
.gallery li:nth-child(2) .text h3 {
  color: black;
}
.gallery li:nth-child(2) .text h3:after {
  background: black;
}

.gallery li:nth-child(3) .front-side {
  background-image: url('BM.png');
}
.gallery li:nth-child(3) .loader {
  border-top-color: #000000;
  border-left-color: #000000;
}
.gallery li:nth-child(3) .text h3 {
  color: black;
}
.gallery li:nth-child(3) .text h3:after {
  background: black;
}

.gallery li:nth-child(4) .front-side {
  background-image: url('Sky.png');
}
.gallery li:nth-child(4) .loader {
  border-top-color: #000000;
  border-left-color: #000000;
}
.gallery li:nth-child(4) .text h3 {
  color: black;
}
.gallery li:nth-child(4) .text h3:after {
  background: black;
}

.gallery .content {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 25px 20px;
}

.gallery li:hover .text {
  opacity: 1;
  visibility: visible;
  max-height: 2000px;
  -webkit-transition: opacity .3s ease-in 1.5s, max-height .1s ease 1.5s;
  -moz-transition: opacity .3s ease-in 1.5s, max-height .1s ease 1.5s;
  transition: opacity .3s ease-in 1.5s, max-height .1s ease 1.5s;
}
.gallery li:hover .loader {
  opacity: 1;
  visibility: visible;
  -webkit-animation: hide .1s ease-in-out 1.4s forwards, load .75s infinite;
  -moz-animation: hide .1s ease-in-out 1.4s forwards, load .75s infinite;
  animation: hide .1s ease-in-out 1.4s forwards, load .75s infinite;
}
.gallery .text {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}
.gallery .content h3 {
  position: relative;
  color: #3498DB;
  font: normal 30px/1.25 'Open Sans';
  margin-bottom: 25px;
}
.gallery .content h3:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: -10px;
  left: 50%;
  margin-left: -25px;
  background: red;
}
.gallery .content p {
  margin: 10px 0;
  color: #D6DBDF;
  font: normal 16px/1.25 'Open Sans';
}
.gallery .loader {
  opacity: 0;
  visibility: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #3498DB;
  border-left-color: #3498DB;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes load {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes hide {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@-moz-keyframes hide {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes hide {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
